h1 {
    background-color: red;
    border: solid 5px rgb(121, 26, 26);
    color: white;
    width: 200px;
    height: 200px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

p {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

span {
    color: red;
}